<% if @book.errors.any? %>
  <%= @book.errors.count %> errors prohibited this book from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="container m-4 mx-md-auto">
  <div class="row">
    <div class="col-md-3">
      <%= render 'layouts/sidebar',user: current_user %>
    </div>

    <div class="col-md-8 offset-md-1 px-3">
      <h1>Books</h1>
      <table class="table">
        <tr>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
        </tr>

        <% @books.each do |book| %>
          <tr>
            <td>
              <%= link_to user_path(book.user_id) do %>
                <%= image_tag book.user.profile_image.variant(resize: '100x100') %>
              <% end %>
            </td>
            <td>
              <%= link_to book_path(book.id) do %>
                <% book.title %>
              <% end %>
            </td>
            <td><%= book.body %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>