<h1>User info</h1>
<%= image_tag user.get_profile_image(120,120) %>
<table>
  <tr>
    <td>name</td>
    <td><%= user.name %></td>
  </tr>
  <tr>
    <td>introduction</td>
    <td><%= user.introduction %></td>
  </tr>
</table>

<% if user.id == current_user.id %>
  <%= link_to edit_user_path(user.id), class: "btn btn-primary" do %>
    <i class="fa-solid fa-user-gear"></i>
  <% end %>
<% else %>
  <%= link_to user_path(current_user.id), class: "btn btn-primary" do %>
    <i class="fa-solid fa-user-gear"></i>
  <% end %>
<% end %>

<h1>New book</h1>
<%= form_with model: @book, url: '/books', method: :post do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Opinion</h4>
  <%= f.text_area :body %>
  <%= f.submit 'Create Book' %>
<% end %>